* {
    padding: 0px;
    margin: 0px;
}

.curved {
    /* border: 1px solid black; */
    border-radius: 10px;
}


.themeBtn {
    width: 80px;
    height: 30px;
    display: inline-block;
    float: right;
    bottom: 20px;
    background-color: #eee;
}

.themeBtn:hover {
    opacity: 0.7;
    box-shadow: 1px 1px 1px;
}


@keyframes slide {
    from {
        width: 0;
    }

    to {
        width: 300px;
    }
}

@media screen and (min-width: 1024px) {
    .rightBar {
        display: none;
    }

    .main {
        width: calc(100%);
    }

}

@media screen and (min-width: 768px) {
    .rightBar {
        display: none;
    }

    .main {
        width: calc(100%);
    }

}

@media screen and (max-width: 767px) {

    #catchZone {
        visibility: hidden;
    }

}


