<!DOCTYPE html>
<html>

<head>
    <script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <meta charset="EUC-KR">
    <title>Insert title here</title>
    <style>
        * {
            margin: 10px;

        }

        table {
            border-collapse: collapse;
        }

        th,
        tr,
        td {
            border: 1px solid black;
            padding: 10px 20px;
        }

        td input {
            width: 70px;
        }
        
        
    </style>
</head>

<body>
    <div id="app">
        <input placeholder="학번 입력" v-model="keyword" @keyup.enter="fnGetList()">
        <!-- select에 v-model값을 저장해서 option의 value에 해당하는 정보를 기본값으로 줄 수 있다. -->
        <!-- @change를 통해서 변화가 생겼을 때 실시간으로 ""안에 있는 내용을 적용할 수 있다. -->
        <!-- <select v-model="grade" @change="fnGetList()"> -->
        <select v-model="grade">
            <option value="">::전체::</option>
            <option value="1">1학년</option>
            <option value="2">2학년</option>
            <option value="3">3학년</option>
        </select>
        <button @click="fnGetList()">검색</button>
        <div></div>
        
        <table>{{allCheckBox}}
            <tr>
                <th>
                    <input type="checkbox" name="rm" style="margin: 0px; padding: 0px;" @click="allCheck = !allCheck; allCheckBox=!allCheckBox" :checked="allCheckBox">
                </th>
                <th>학번</th>
                <th>이름</th>
                <th>학과</th>
                <th>학년</th>
                <th>성별</th>
                <th>Crystal</th>
            </tr>
            <tr v-for="item in list">
                
                <td>
                    <label id="all">
                        <!-- <input :id="item.STU_NO" type="checkbox" name="rm" :value="item.STU_NO" style="margin: 0px; padding: 0px;" @change="fnIsChecked($event)" :checked="allCheck"> -->
                        <input :id="item.STU_NO" type="checkbox" name="rm" :value="item.STU_NO" style="margin: 0px; padding: 0px;" @change="allCheckBox = !allCheckBox" :checked="allCheck">

                    </label>
                </td>
                <template v-if="keyForModify == item.STU_NO">
                    <td><label :for="item.STU_NO">{{item.STU_NO}}</label></td>
                    <td><input type="text" v-model="item.STU_NAME"></td>
                    <td><input type="text" v-model="item.STU_DEPT"></td>
                    <td><input type="text" v-model="item.STU_GRADE"></td>
                    <td><input type="text" v-model="item.STU_GENDER"></td>
                </template>
                <template v-else>
                    <td><label :for="item.STU_NO">{{item.STU_NO}}</label></td>
                    <td>{{item.STU_NAME}}</td>
                    <td>{{item.STU_DEPT}}</td>
                    <td>{{item.STU_GRADE}}</td>
                    <td>
                        <template v-if="item.STU_GENDER == 'F'">여자</template>
                        <template v-else>남자</template>
                    </td>
                </template>
                <td>
                    <template v-if="keyForModify == item.STU_NO">
                        <!-- 저장 알고리즘 넣어야함 -->
                        <button @click="fnModify(item)">저장</button>

                    </template>
                    <template v-else>
                        <button @click="keyForModify = item.STU_NO">수정</button>
                    </template>
                </td>
            </tr>
            <button @click="fnRemove(rmRadio)">삭제</button>
        </table>

    </div>

    <script>
        const app = Vue.createApp({
            data() {
                return {
                    list: [],
                    keyword: "",
                    keyForModify: "",
                    grade: "",
                    checkedItem: "12",
                    checkedList: new Map(),
                    allCheck: false,
                    allCheckBox: false
                };
            },
            methods: {
                fnGetList() {
                    // grade = $(option[value]),
                    $.ajax({
                        // Blank도 읽으니까 주의해야할듯? (띄어쓰기 하지마!)
                        url: `http://localhost:3000/list?keyword=${this.keyword}&grade=${this.grade}`,
                        dataType: "json",
                        type: "GET",
                        data: {},
                        // this로 넣으려면 function 형태가 아닌 () => {} 형태로 넣어야됨!!
                        success: (data) => {
                            this.list = data;
                            // console.log(this.list)
                        }
                    });
                },
                fnRemove(stuNo) {
                    if(!confirm("정말 삭제하시겠습니까?")) return;
                    $.ajax({
                    url: "http://localhost:3000/delete",
                    dataType: "json",
                    type: "POST",
                    data: JSON.stringify(Array.from(this.checkedList)),
                    contentType: "application/json",
                        success: (data) => {
                            alert(data[0].message);
                            this.fnGetList();
                        }
                    })
                },
                
                fnModify(item) {
                    if(!confirm("ㄹㅇ?")) return;
                    console.log(item)
                    $.ajax({
                        url: `http://localhost:3000/modify?stuNo=${item.STU_NO}&stuName=${item.STU_NAME}&stuDept=${item.STU_DEPT}&stuGrade=${item.STU_GRADE}&stuGender=${item.STU_GENDER}`,
                        dataType: "json",
                        type: "GET",
                        data: {},
                        success: (data) => {
                            console.log(data);
                            this.keyForModify = ""
                            this.fnGetList();
                        }
                    })
                },
                fnIsChecked(event){
                    var value = event.target.value
                    if(this.checkedList.has(value)){
                        this.checkedList.delete(value);
                        this.checkedItem = ''

                    } else {
                        this.checkedList.set(value,value);
                        this.checkedItem = value
                    }
                    console.log(this.checkedList)
                },
                onlyCheckLogic(){
                        this.allCheckBox = false;
                }
            

                // fnSearch(){
                //     $.ajax({
                //         url : "http://localhost:3000/search?id="+this.keyword,
                //         dataType : "json",
                //         type : "GET",
                //         data : {},
                //         // this로 넣으려면 function 형태가 아닌 () => {} 형태로 넣어야됨!!
                //         success : (data) => {
                //             this.list = data;
                //             console.log(this.list)
                //         }
                //     });
                // }
            },
            mounted() {

                this.fnGetList();


            }
        });
        app.mount('#app');
    </script>
</body>

</html>