<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="js/jquery-3.7.1.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <div id="app"> 
        <input type="number" placeholder="나이를 입력하세요" v-model="age">
        <div>
            <button @click="fnCheckAge()">확인</button>
        </div>
        <div>{{txt}}</div>
        
        <!-- 그냥 else-if 구문 확인용 -->
        <template v-if="isView">
            <div v-if="age >= 30">30세 이상입니다.</div>
            <div v-else-if="age >= 20">20세 이상입니다.</div>
            <div v-else>20세 미만입니다.</div>
            <div v-if="age >=20 && age<30"> 20대입니다.</div>
        </template>

    </div>
</body>
</html>
<script>
    const app = Vue.createApp({
            data() {
                return {
                    txt: "에러좀보여줘라",
                    age: "",
                    isView: false
                    // 변수 영역, ex) name : '홍길동', age : 20
                };
            },
            methods: {
                fnCheckAge(){
                    this.isView = true;
                    console.log(typeof this.age);
                    this.txt = (this.age >=30) ? "30세 이상입니다." : "30세 미만입니다";
                    // this.txt = (this.age.length ==0) ? "hi" : "no"
                }
               // 메소드 영역 
            },
            mounted() {
                // 처음 시작할 때 실행되는 부분
            }
        });
        app.mount('#app');
</script>